*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // 1rem is 10px
  font-size: 62.5%;
}

body {
  background-color: rgb(112, 112, 112);
  font-size: 2rem;
  box-sizing: border-box;
  padding: 3rem;
}

/*
// templace css from course
body {
  font-family: Avenir, sans-serif;
  font-weight: bold;
  margin: 2rem;
}

h3 {
  font-weight: 100;
  color: rgb(255, 255, 255);
  margin: 0.4rem 0;
}

svg {
  border: 1px solid #ccc;
}

button {
  outline: none;
  color: rgb(0, 0, 0);
  border: none;
  background: #fefefe;
  padding: 3px 10px;
  font-family: Avenir;
  transition: all 200ms;
}

button:hover {
  background: #f7f7f7d2;
}

button:focus {
  background: #eeff00;
}
*/
